/* Element Selector CSS */

body{
    background-color: #93adaf ;
    color: #fff;
    text-align: center;
}

header{
    background-color: #3d130a ;
    padding: 25px;
    margin: 25px;
}

section{
    background-color: #3d0a31 ;
    padding: 25px;
    margin: 25px;
}

footer{
    background-color:#051752;
    padding: 25px;
    margin: 25px;
}
